{% extends "newsletter/base.html" %}

{% block content %}

<div class='row'>
	<div class='col-sm-9'>
		<h1>О проекте</h1>
		<p>Это тестовый проект на Django 1.9</p>
		<p>Оставьте заявку на главной странице сайта</p>
		<p>Авторизируйтесь под логином login: 'admin', password: 'django19' чтобы увидеть список заявок.</p>
		<h3>What to do list:</h2>
		<ul>
			<ol>Решить проблему с unicode slug</ol>
			<ol>Почистить\оптимизировать код</ol>
			<ol>Форма обратной связи работает без ошибок кодировки</ol>
			<ol>Регистрацию буду доделывать уже на реальном домене</ol>
			<ol>Доделать всплывающее окно(валидация - чтобы страница не перезагружалась)</ol>
		</ul>
	</div>
</div>

{% endblock %}