{% extends "newsletter/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>

			{% if title %}
				<h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
			{% endif %}

			<form method='POST' action=''>{% csrf_token %}
				{{ form|crispy }}

				<input class='btn btn-default' type='submit' value='Submit' />

			</form>

			<h2>Наши координаты:</h2>
			<p>Москва, ул.Ленина, 45а</p>
			<p>+7 (495) 563 23 87</p>
			<p>support@django.com</p>
		</div>
	</div>
{% endblock %}