{% extends 'newsletter/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}
     
{% block jumbotron %}
	{% if not request.user.is_authenticated %}

		<!-- всплывающее окно-->
		<script type="text/javascript">
			function show(state){
				document.getElementById('window').style.display = state;			
				document.getElementById('wrap').style.display = state; 			
			}
		</script>

		<!-- Задний прозрачный фон-->
		<div onclick="show('none')" id="wrap"></div>

			<!-- Само окно-->
			<div id="window">
						
				<!-- Картинка крестика-->
				<img class="close" onclick="show('none')" src="{% static 'img/close.png' %}">
					
				<p class='lead text-align-center'>{{ title }}</p>

				<form method='POST' action=''>{% csrf_token %}
					{{ form|crispy }}
					<p class='text-align-center'>
						<input class='btn btn-primary' type='submit' value='Откликнуться' />
					</p>
				</form>
			</div>



		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class='col-sm-6'>
						<h1>Django 1.9</h1>
						<p>Посадочная страница на базе фреймворка Django 1.9 и Bootstrap. Авторизация реализована при помощи django-registration-redux 1.1. Так же используется библиотека django-crispy-forms 1.4.0</p>

						<p>
							<input class="btn btn-lg btn-primary" style='text-transform: uppercase;' type="button" onclick="show('block')" value="оставить заявку" />
						</p>
					</div>

					<div class='col-sm-4' style='margin-left:50px;'>
						<img src="{% static 'img/pony.png' %}" width='380px' />
			 		</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}




{% block content %}
	{% if request.user.is_authenticated %}
		<h1>Вы авторизовались!</h1>
		{% if queryset %}
			<h2>У вас права редактора</h2>
			<p>И поэтому видите список оставивших заявку.</p>
			<p>Выйдите из своего аккаунта для того, чтобы увидеть главную страницу.</p>
			<table class='table'>
				{% for instance in queryset %}
					<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
				{% endfor %}
			</table>

		{% endif %}

	{% else %}

<!-- 	<div class="row">
			<div class="col-sm-3 pull-right">
				<p class='lead text-align-center'>{{ title }}</p>

				<form method='POST' action=''>{% csrf_token %}
					{{ form|crispy }}

					<input class='btn btn-primary' type='submit' value='Откликнуться' />
				</form>
			</div>
		</div>

		<hr /> -->

		      <div class="row">
		        <div class="col-lg-4">
		          <h2>Safari bug warning!</h2>
		          <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
		          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		          <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
		        </div>
		        <div class="col-lg-4">
		          <h2>Лиды</h2>
		          <p>Авторизируйтесь под логином 'admin', password: 'django19' чтобы увидеть <b>список заявок</b>. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
		       </div>
		        <div class="col-lg-4">
		          <h2>Heading</h2>
		          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
		        </div>
		      </div>
		      <hr />

		      <footer class="footer">
		        <p>&copy; 2016 Company, Inc.</p>
		      </footer>
	{% endif %}

{% endblock %}