.text-align-center {
	text-align: center;
}

.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#60A5FF;
	color: #FFF;
}

.caption h3{
	margin: 10px 0px 18px;
}

.caption img{
	margin: 0px 0px 20px;
}

/*POPUP*/

#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
	
#window{
	width: 400px;
	max-height: 300px;
	margin: 200px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	border-radius: 10px;
}
	}
	
.close{
	margin-left: 364px;
	margin-top: 4px;
	cursor: pointer;
	}